<div style="padding-bottom: 50vh;">
    <table mat-table [dataSource]="tableData">
        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element._id}} </td>
        </ng-container>
        <ng-container matColumnDef="Author">
            <th mat-header-cell *matHeaderCellDef> Author </th>
            <td mat-cell *matCellDef="let element"> {{element.author}} </td>
        </ng-container>
        <ng-container matColumnDef="E-mail">
            <th mat-header-cell *matHeaderCellDef> E-mail </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['ID', 'Author', 'E-mail']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['ID', 'Author', 'E-mail'];"></tr>
    </table>

    <div class="pg-container">
        <mat-paginator appPagination [length]="this.paginationInfo?.length" [pageSize]="this.paginationInfo?.pageSize"
            [hidePageSize]='true' (page)="onPageEvent($event)">
        </mat-paginator>
    </div>

    <hr>
    <br><br><br><br><br>

    <div class="pg-container">
        <div>
            <h1> Paginator </h1>
            Page Size: <input [(ngModel)]="testPaginator.pageSize" type="text" placeholder="Enter Page Size" />
            Length: <input [(ngModel)]="testPaginator.length" type="text" placeholder="Enter Length">
            Page Index: <input [(ngModel)]="testPaginator.pageIndex" type="text" placeholder="Enter Index">
        </div>

        <mat-paginator appPagination [length]="testPaginator.length" [pageSize]="testPaginator.pageSize"
            [pageIndex]='testPaginator.pageIndex' [hidePageSize]='true' (page)="showTestEmit($event)">
        </mat-paginator>
        <br>
        <table style="width: 300px;">
            <caption>
                <h2> Paginator Emitted Result </h2>
            </caption>
            <tr>
                <th> PageSize </th>
                <th> Page Index </th>
            </tr>
            <tr>
                <td> {{ EmitResult.pageSize }} </td>
                <td> {{ EmitResult.pageNumber }} </td>
            </tr>
        </table>
        <br>
    </div>