/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-paginator-container {
  justify-content: flex-end;
}

.custom-paginator-counter {
  white-space: nowrap;
  margin: 0px 4px 0px 10px !important;
}

.custom-paginator-page {
  border-radius: 4px;
  outline: none;
  border: none;
  margin: 0.4em;
  font-size: 14px;
  min-width: 24px;
  width: auto;
  min-height: 24px;
  max-height: 24px;
  padding: 1px 6px;
}

.custom-paginator-page-enabled {
  color: #333333;
  background: transparent;
  cursor: pointer;
  &:hover {
    background-color: #dfe3e6;
  }
}

.custom-paginator-page-disabled {
  background-color: #007cbe;
  color: #fff;
}

.custom-paginator-arrow-disabled {
  color: #dfe3e6;
}

.custom-paginator-arrow-enabled {
  color: #999999;
}
